body {
  margin: 0;
}

.app__header {
  position: fixed;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 2;
  display: flex;
}

.app__header h3 {
  color: blue;
  padding-left: 70%;
}

.app__headerIMG {
  max-width: 10%;
  left: 30%;
  object-fit: contain;
}

.form__logIn {
  position: absolute;
  left: 33.7%;
  top: 25%;
  width: 31%;
  height: 53%;
  background-color: white;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form__logIn button {
  background-color: rgb(0, 169, 236);
}
.form__logIn input {
  background-color: rgb(240, 240, 240);
}

.app_modalImg {
  width: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-self: center;
  object-fit: contain;
}

.app__posts {
  padding-left: 30px;
}

@media (orientation: portrait) {
  .app__stories {
    display: flex;
  }

  .app__header {
    display: flex;
    justify-content: space-between;
  }

  .app__header h3 {
    padding: 0;
  }

  .app__headerIMG {
    max-width: 30%;
  }

  .form__logIn {
    position: absolute;
    left: 0%;
    top: 25%;
    width: 100%;
    height: 40%;
    background-color: white;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.app__footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  height: 70px;
  width: 100%;
  object-fit: contain;
  border: 1px solid darkgray;
  justify-content: center;
}

.app__footer img {
  object-fit: contain;
  width: 20%;
}

.footer__postUploadButtonDiv {
  width: 20%;
}
.footer__postUploadButtonDiv img {
  width: 25%;
}

.footer__homeButtonDiv {
  width: 20%;
}
.footer__homeButtonDiv img {
  width: 47%;
}

.footer_searchButtonDiv {
  width: 20%;
}
.footer_searchButtonDiv img {
  width: 25%;
}

.footer__notificationsDiv {
  width: 20%;
}
.footer__notificationsDiv img {
  width: 33%;
}

.footer__profileDiv {
  width: 20%;
}
.footer__profileDiv img {
  width: 25%;
}

.loadingDiv {
  width: 80vw;
  height: 12vh;
}
.loadingDiv h1 {
  animation: loadingAnim 2s infinite;
}

@keyframes loadingAnim {
  0% {
    opacity: 0.3;
    transform: translateX(-200px);
  }
  50% {
    opacity: 1;
    transform: translateX(200px);
  }
  100% {
    opacity: 0.3;
    transform: translateX(-200px);
  }
}

@media (orientation: portrait) {
  .app__footer {
    display: flex;
    padding-bottom: calc(env(safe-area-inset-bottom));
    align-items: center;
    height: 40px;
  }
  .app__footer img {
    width: 40%;
  }
  .loadingDiv {
    width: 100vw;
    height: 9vh;
  }

  .loadingDiv h1 {
    animation: loadingAnim 2s infinite;
  }

  @keyframes loadingAnim {
    0% {
      opacity: 0.3;
      transform: translateX(-200px);
    }
    50% {
      opacity: 1;
      transform: translateX(200px);
    }
    100% {
      opacity: 0.3;
      transform: translateX(-200px);
    }
  }
}
