.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  height: 70px;
  width: 100%;
  object-fit: contain;
  border: 1px solid darkgray;
  justify-content: center;
}

.footer img {
  object-fit: contain;
  width: 20%;
}

.footer__postUploadButtonDiv {
  width: 20%;
}
.footer__postUploadButtonDiv img {
  width: 25%;
}

.footer__homeButtonDiv {
  width: 20%;
}
.footer__homeButtonDiv img {
  width: 47%;
}

.footer_searchButtonDiv {
  width: 20%;
}
.footer_searchButtonDiv img {
  width: 25%;
}

.footer__notificationsDiv {
  width: 20%;
}
.footer__notificationsDiv img {
  width: 33%;
}

.footer__profileDiv {
  width: 20%;
}
.footer__profileDiv img {
  width: 25%;
}

@media (orientation: portrait) {
  .footer {
    display: flex;
    padding-bottom: calc(env(safe-area-inset-bottom));
    align-items: center;
    height: 40px;
  }
  .footer img {
    width: 40%;
  }
}
