.search__modalDiv {
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: rgb(114, 116, 241);
  left: 15%;
  top: 10%;
  display: flex;
  flex-direction: column;
}
.search__modalDiv img {
  max-width: 100%;
}

@media (orientation: portrait) {
  .search__modalDiv {
    width: 100%;
    left: 0%;
  }
}
